.dot-grid {
  height: 100%;
  position: relative;
  width: 100%;
}

.dot-grid__wrap {
  height: 100%;
  position: relative;
  width: 100%;
}

.dot-grid__canvas {
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
